<main class="main-content">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" >
      <span class="mask opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="mb-2 mt-7 ">Welcome!</h1>
            <p class="text-lead ">Quick save your code snippets</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid px-3 px-md-8">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-md-8 mb-5 mb-xl-0">
          <div class="card bog-gradient-default card-plain">
            <div class="card-header bg-transparent">
              <div class="d-flex flex-wrap align-items-start justify-content-between">
                <div class="text-white">
                  <h6 class="text-uppercase mb-1">Saved</h6>
                  <h4 class="mb-0 ">Code snippets</h4>
                </div>
                <div class="d-md-none text-right">
                  <button data-bs-toggle="modal" data-bs-target="#modal-new-snippet" class="btn btn-icon btn-3 bg-gradient-primary btn-primary" type="button">
                    <span class="btn-inner--icon"><i style="font-size: 1.2em;" class="ni ni-fat-add"></i></span>
                    <span class="btn-inner--text">New</span>
                  </button>                  
                </div>
                <div class="col-12 mt-3 mt-md-0 col-md-auto text-right ">
                  <form  class="">
                    <div class="form-group">
                      <div class="input-group mb-4">
                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        <input class="form-control" placeholder="Search" type="text">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body p-0 pb-4">
              <div class="row">
                <app-code-snippet class="col-md-6 col-md-4 mb-3" *ngFor="let snippet of snippets" [snippet]="snippet"></app-code-snippet>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 d-none d-md-block h-100">
          <app-new-snippet-form></app-new-snippet-form>
        </div>

      </div>
    </div>
  </main>


  <!-- Modal -->
  <div class="modal fade" id="modal-new-snippet" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <button type="button" class="btn d-none btn-link ml-auto" data-bs-dismiss="modal">Close</button>
          <app-new-snippet-form></app-new-snippet-form>
        </div>
      </div>
    </div>
  </div>
