                  
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body p-0">
        <div class="row p-4">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">{{snippet.title}}</h5>
            <small class=" font-weight-bold mb-0">{{getDateTime()}}</small>
          </div>
          <div class="col-auto">
            <div class="icon-shape d-flex  justify-content-center rounded-circle shadow">
              <i class="fas fa-java text-dark"></i>
            </div>
          </div>
        </div>
        <div class="border-left my-3 border-primary p-0">
          <pre><code class="max-h" [lineNumbers]="true" [highlight]="snippet.snippet"></code></pre>
        </div>
      </div>
      <div class="card-footer">
        <div class="">
          <span *ngFor="let tag of snippet.tags.split(',')" class="badge bg-gradient-secondary mb-2 m-1">
            #{{tag}}
          </span>
        </div>
      </div>
    </div>
 